.App{
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blue;
}
.input{
    padding: 15px;
    width: 80%;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: 16px;
}
.name{
    border: 3px solid black;
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: white;
    position: relative;
    right:420px;
    border-radius: 20px;

}
.temp{
    border: 3px solid black;
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: white;
    position: relative;
    bottom: 90px;
    border-radius: 20px;
}
.weather{
    border: 3px solid black;
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    position: relative;
    left: 390px;
    bottom: 187px;
}
.pressure{
    border: 3px solid black;
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    position: relative;
    bottom: 100px;
    right: 420px;


}
.humidity{
    border: 3px solid black;
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    position: relative;
    bottom: 198px;

}
.wind{
    border: 3px solid black;
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    position: relative;
    left:408px;
    bottom: 300px;


}
.max{
    border: 3px solid black;
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: white;
    border-radius: 20px;
    position: relative;
    bottom: 250px;

}